#container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: animateBg 1s ease-in-out infinite;
  background: black;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#periodicTable{
  display: grid;
  grid-template-columns:repeat(20,1fr);
  margin-top: 1.5%;
  gap: .5rem;
}

.elements{
  display:flex;
  justify-content: center;
  align-items: center;
  background:rgba(255, 255, 255, .1);
  height: 3rem;
  width: 3rem;
  border-radius: .2rem;
  cursor: pointer;
}

.elements:hover {
  transform: scale(1.2); 
}

.element{
  display:contents;   
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

.highlight{ 
  transform: scale(1.1); 
  box-shadow: rgba(255, 255, 255,.7) .1rem .1rem .1rem .1rem !important;
  border-radius: .2rem;
}

#elementDetails{
  width: 80%;
  position:fixed;
  top: 55.5%;
  visibility:hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  white-space:pre-wrap;
  text-align:justify;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: .5rem; 
}

#detailText{
  width: 85%;
  display: flex;
  justify-content: space-around;
}

.show {
  visibility:visible !important;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

#elementSymbol{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
 
#Config{
  width: 80%;
  position: fixed;
  top: 80%;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

#filterButton{
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: .2rem;
  padding: .5rem;
  cursor: pointer;
  margin-top: 1rem;
}

#searchButton{
  height: 25%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: .2rem;
  padding: .7rem;
  outline: none;
  border: none;
  margin-top: 1rem;
}

::placeholder{
  color: rgba(255, 255, 255, 0.7);
  font-size: 90%;
}

#elementsFilter{
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.propertybutton{
  background:rgba(255, 255, 255, .1);
  border-radius: .2rem;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5rem;
  padding: .5rem;
  border-radius: .2rem;
}

#subElementsFilter{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.normalize{
  background:rgba(255, 255, 255, .1) !important;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 

@-webkit-keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

@media (max-height:500px)  {
  
  #elementDetails{
    display: none;  
  }
}

@media (max-width:700px)  {

  #periodicTable{
    grid-template-columns:repeat(12,1fr);
    margin-top: 2.5%;
    gap: .25rem;
  }

  .elements{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: .1rem;
  }

  .element{
    font-size: 0.65rem;
  }

  #elementDetails{
    width: 85%;
    top: 46.7%;
    font-size: 0.62rem;
    border-radius: 8px;
    padding: .4rem;   
  }

  #detailText{
    flex-direction: column;
  }

  #elementSymbol{
    font-size: 3rem;
    margin-right: 1rem;
  }

  #Config{
    width:90%;
    top: 89%;
  }

  #filterButton{
    margin-top: 0.5rem;
    font-size: 0.6rem;
    padding: .2rem;
    width: 4.5rem;
  }

  #searchButton{
    margin-top: 0.5rem;
    font-size: 0.6rem;
    padding: .2rem;
    width: 4.5rem;
  }

  #subElementsFilter{
    margin-top: 0rem;
  }

  .propertybutton{
    font-size: 0.55rem;
    padding: .2rem;
    margin-top: .3rem;
  }
}

@media (min-width:700px) and (max-width:992px) {
  
  #periodicTable{
    grid-template-columns:repeat(14,1fr);
    margin-top: 2%;
  }

  .elements{
    height: 2.5rem;
    width: 2.5rem;
  }

  .element{
    font-size: 0.9rem;
  }

  #elementDetails{
    width: 75%;
    top: 44.7%;
    font-size: 1rem;
    padding: 0.5rem 3rem;  
  }

  #detailText{
    flex-direction: column;
  } 

  #Config{
    width:90%;
    top: 87%;
  }

  .propertybutton{
    padding: .4rem;
    margin-top: .3rem;
  } 
}

@media (min-width:992px) and  (max-width:1200px){

  #periodicTable{
    grid-template-columns:repeat(16,1fr);
    margin-top: 4%;
  }

  .elements{
    height: 3rem;
    width: 3rem;
  }

  .element{
    font-size: 1.2rem;
  }

  #elementDetails{
    width: 75%;
    top: 37%;
    font-size: 1.5rem;
    padding: 1rem 3rem;  
  }

  #detailText{
    flex-direction: column;
  } 

  #Config{
    width:90%;
    top: 87%;
  }
}
